// Nutzung der Farben von BalmUi
@use '../../../node_modules/@material/theme/index' as color;

// PrimeFlex v3
@import 'primeflex/primeflex.scss';

// Einbinden von Schriftarten
// KaushanScript-Regular
@font-face {
  font-family: "KaushanScript-Regular";
  src: local("KaushanScript-Regular"),
  url(../fonts/KaushanScript-Regular.ttf) format("truetype");
}

// Rancho-Regular
@font-face {
  font-family: "Rancho-Regular";
  src: local("Rancho-Regular"),
  url(../fonts//Rancho-Regular.ttf) format("truetype");
}

// Roboto
@font-face {
  font-family: "Roboto-Black";
  src: local("Roboto-Black"),
  url(../fonts//Roboto-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: local("Roboto-BlackItalic"),
  url(../fonts//Roboto-BlackItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"),
  url(../fonts//Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: local("Roboto-BoldItalic"),
  url(../fonts//Roboto-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Italic";
  src: local("Roboto-Italic"),
  url(../fonts//Roboto-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Light";
  src: local("Roboto-Light"),
  url(../fonts//Roboto-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: local("Roboto-LightItalic"),
  url(../fonts//Roboto-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Medium";
  src: local("Roboto-Medium"),
  url(../fonts//Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: local("Roboto-MediumItalic"),
  url(../fonts//Roboto-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"),
  url(../fonts//Roboto-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-Thin";
  src: local("Roboto-Thin"),
  url(../fonts//Roboto-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: local("Roboto-ThinItalic"),
  url(../fonts//Roboto-ThinItalic.ttf) format("truetype");
}

// Allgemeine Dinge
$mainBarMinHeight: 100px;

// Allgemeine entfernung von Abständen
html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

// Obere Leiste mit Menü
#main-bar-new {
  min-height: $mainBarMinHeight;
  z-index: 100;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

// Obere Leiste - Hintergrund
#main-bar-new:before {
  content: "";
  background-color: whitesmoke;
  min-height: $mainBarMinHeight;
  position: absolute;
  width: 100vw;
  opacity: 0.5;
}

// Hintergrund Video
#full-background-video {
  opacity: .5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  background-color: black;
}

#main-content {
  z-index: 90;
}

#content {
  //position: relative;
  top: 110px;
  z-index: 8;
}

// Entfernung des Styles von Link Elementen
a {
  text-decoration-line: none;
  color: white;
  font-style: italic;
}

// Abstand Buttons
.btn button {
  top: 10px;
}

// Style des Route link Aktive
.router-link-active button span {
  background-color: white;
  color: black;
}

// Box mit weißen Hintergrund
.white-box {
  background: white;
  padding: 1.2rem;
  opacity: 0.7;
}

// Rahmen für die Weiße Box
.border-black {
  border: 2px black solid;
  border-radius: 5px;
  opacity: 0.7;
}

// Schriftart Festlegung
.font-roboto-black {
  font-family: 'Roboto-Black', cursive;
}

.font-roboto-medium {
  font-family: 'Roboto-Medium', cursive;
}

.font-roboto-light {
  font-family: 'Roboto-Light', cursive;
}

// Überschriften
h1 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.6rem;
  font-family: 'Rancho', cursive;
  text-decoration: underline;
}

h4 {
  font-size: 2.4rem;
  font-family: 'Roboto-Regular', cursive;
  text-decoration: underline;
}

h5 {
  font-size: 1.6rem;
}

.happy-text {
  font-family: 'KaushanScript-Regular', cursive;
  color: #3aadfd;
  text-decoration: none;
}

p {
  font-size: 1.3rem;
}

.text-event-day {
  font-size: 1.2rem;
}

// Hintergrund Video
#full-background-video {
  height: 100%;
  width: 100vw;
  background-image: url("../background-movie.mp4");
  background-repeat: no-repeat;
  background-size: cover;
}

// Hintergrund Video - Video Element
#full-background-video video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

// Darstellungsbereich für den Inhalt
#site-content {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
}

// Text Schatten
.text-shadow {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  -webkit-text-fill-color: white;
}

.band-logo {
  //width: 50%;
}

.band-cover {
  max-width: 70%;
}

.none-underline {
  text-decoration: none;
}

.image-tickets {
  width: 60%;
}

.image-map {
  width: 10%;
}

// Anpassungen auf Mobile Ansicht (Smartphone)
@media screen and (max-width: 1000px) {
  h1 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1rem;
  }

  #full-background-video {
    height: 100%;
    width: 100vw;
    background-image: url("../background-movie-smartphone.mp4");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .band-logo {
    width: 40%;
  }

  .band-cover {
    max-width: 50%;
  }

  .image-tickets {
    width: 40%;
  }

  .text-event-day {
    font-size: 0.8rem;
  }
}
