<template>
  <!-- Seitenüberschrift -->
  <div class="col-12 align-items-center justify-content-center">
    <h1 class="font-roboto-black text-shadow">Datenschutz</h1>
  </div>

  <!-- Speicherung von Persönlichen Daten -->
  <div class="col-12 align-items-center justify-content-center mb-6">
    <h4 class="m-0 font-roboto-black text-shadow">Speicherung Persönlicher Daten</h4>

    <p class="font-roboto-black text-shadow">
      Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
      <br>
      Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben
      werden, erfolgt dies,
      soweit möglich, stets auf freiwilliger Basis.
      <br>
      Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.
      <br>
      <br>
      Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
      Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich.
      <br>
      <br>
    </p>
    <h5 class="text-shadow">Des weiteren weisen wir darauf hin, das unsere Webhoster Ihre IP-Adresse sowie diese Meta
      Daten, Anwenderprogramm (Browser), Verweis Adresse (Direct Request) und Nutzerland Ihres Endgerätes für <b>180
        Tage</b> speichert!
    </h5>
  </div>
</template>