<template>
  <!-- Seitenüberschrift -->
  <div class="col-12 align-items-center justify-content-center">
    <h1 class="font-roboto-black text-shadow">Oktoberfest in Erdmannsdorf/Sachsen</h1>
  </div>

  <!-- Eingangstext Kurzbeschreibung -->
  <div class="col-12 align-items-center justify-content-center mb-3">
    <h4 class="m-0 font-roboto-medium text-shadow none-underline">Wir Feiern das 4. Oktoberfest im Freibad Erdmannsdorf
      (Festzelt) <br> Mit am Start ist am Samstag die Oktoberfestband aus München</h4>
  </div>

  <!-- Band Bergluft -->
  <div class="col-12 sm:col-12 md:col-6 lg:col-6">
    <section-band/>
  </div>

  <!-- Freitag, Samstag - Tickets -->
  <!-- Freitag -->
<!--  <div class="col-12 sm:col-6 md:col-4 lg:col-3">-->
<!--    <section-event-day :day-hyperlink="friday.hyperlink" :day-date-time="friday.dateTime" :day-name="friday.dayName"/>-->
<!--  </div>-->

  <!-- Samstag -->
  <div class="col-12 sm:col-12 md:col-6 lg:col-6">
    <section-event-day :day-hyperlink="saturday.hyperlink" :day-date-time="saturday.dateTime" :day-name="saturday.dayName"/>

  </div>

  <!-- Karte -->
  <div class="col-12 mb-6">
    <section-map/>
  </div>
</template>
<script setup>
import SectionBand from "@/components/SectionBand.vue";
import SectionMap from "@/components/SectionMap.vue";
import SectionEventDay from "@/components/SectionEventDay.vue";

const friday = {
  hyperlink: `https://fx-events.de/event/oktoberfest-freitag-2023-im-freibad-erdmannsdorf/`,
  dayName: `Freitag`,
  dateTime: `22.09.2023 17:30`
};

const saturday = {
  hyperlink: `https://fx-events.de/event/4-oktoberfest-samstag-2024-im-freibad-erdmannsdorf/`,
  dayName: `Samstag`,
  dateTime: `28.09.2024 17:30`
};
</script>