<template>
  <!-- Seitenüberschrift -->
  <div class="col-12 align-items-center justify-content-center">
    <h1 class="font-roboto-black text-shadow">Impressum</h1>
  </div>

  <div class="col-12 align-items-center justify-content-center mb-3">
    <h4 class="m-0 font-roboto-medium text-shadow">Angaben gemäß § 5 TMG</h4>
    <p class="font-roboto-medium text-shadow">
      Dietrich und Miesel GbR
      <br>Karl-Marx-Straße 3
      <br>09577 Niederwiesa
    </p>
    <p class="font-roboto-black text-shadow">
      <strong>Vertreten durch:</strong>
      <br>T. Dietrich
      <br>A. Miesel
    </p>
  </div>
  <!-- Kontakt-->
  <div class="col-12 align-items-center justify-content-center mb-3">
    <h5 class="m-0 font-roboto-medium text-shadow">Kontakt</h5>
    <p class="font-roboto-medium text-shadow">
      T. Dietrich: 0172 7907898
      <br>A. Miesel: 0162 9787112
      <br>E-Mail: fxsound@web.de
    </p>
  </div>
  <!-- Umsatzsteuer-ID -->
  <div class="col-12 align-items-center justify-content-center mb-3">
    <h5 class="m-0 font-roboto-medium text-shadow">Umsatzsteuer-ID</h5>
    <p class="font-roboto-medium text-shadow">
      Umsatzsteuer-Identifikationsnummer gemäß §&nbsp;27 a Umsatzsteuergesetz:
      <br>DE 342895686
    </p>
  </div>
  <!-- Wo her? -->
  <div class="col-12 align-items-center justify-content-center mb-3">
    <h5 class="m-0 font-roboto-medium text-shadow">Verbraucherstreitbeilegung /<br> Universalschlichtungsstelle</h5>
    <p class="font-roboto-medium text-shadow">
      Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle
      teilzunehmen.
    </p>
    <p class="font-roboto-medium text-shadow">Quelle:
      <a href="https://www.e-recht24.de">eRecht24</a>
    </p>
  </div>
  <!-- Anderen Quellen -->
  <div class="col-12 align-items-center justify-content-center mb-3">
    <h5 class="m-0 font-roboto-medium text-shadow">Sonstige Dinge</h5>
    <p class="font-roboto-medium text-shadow">
      <a href="https://icons8.com" target="_blank">Icon - Tanzparty</a>
      <br>
      <a href="https://de.freepik.com/vektoren-kostenlos/realistisches-ticket-mockup-design_22109561.htm#query=gutschein%20ticket&position=39&from_view=search&track=ais"
         target="_blank">Freepik - Bild Tickets</a>
    </p>
  </div>


</template>