<template>
  <!-- Seitenüberschrift -->
  <div class="col-12 align-items-center justify-content-center">
    <h1 class="font-roboto-black text-shadow">Anfrage für Firmen für Sa. dem 28.09.2024</h1>
  </div>

  <!-- Formular -->
  <div class="col-12 align-items-center justify-content-center">
    <div class="grid">
      <!-- Firmenname -->
      <div class="col-12 sm:col-12 md:col-12 lg:col-8 lg:col-offset-1">
        <ui-textfield
            v-model="questionTickets.companyName"
            :required="true"
            fullwidth
        >
          Firmenname
        </ui-textfield>
      </div>
      <!-- Anzahl der Karten -->
      <div class="col-12 sm:col-4 md:col-4 lg:col-2">
        <ui-textfield
            v-model="questionTickets.countOfTickets"
            :required="true"
            fullwidth
            inputType="number"
            :attrs="{min: 1}"
        >
          Anzahl der Tickets
        </ui-textfield>
      </div>
      <!-- Name des Ansprechpartners -->
      <div class="col-12 sm:col-8 md:col-8 lg:col-3 lg:col-offset-1">
        <ui-textfield
            v-model="questionTickets.nameOfPoc"
            :required="true"
            fullwidth
        >
          Ansprechpartner
        </ui-textfield>
      </div>
      <!-- E-Mail des Ansprechpartners -->
      <div class="col-12 sm:col-6 md:col-6 lg:col-4">
        <ui-textfield
            v-model="questionTickets.mailOfPoc"
            :required="true"
            fullwidth
            type="email"
        >
          E-Mail-Adresse
        </ui-textfield>
      </div>
      <!-- Telefonnummer des Ansprechpartners -->
      <div class="col-12 sm:col-6 md:col-6 lg:col-3">
        <ui-textfield
            v-model="questionTickets.telefonOfPoc"
            :required="true"
            fullwidth
            type="tel"
        >
          Telefonnummer
        </ui-textfield>
      </div>
      <!-- Nachrichtenfeld -->
      <div class="col-12 sm:col-12 md:col-12 lg:col-10 lg:col-offset-1">
        <ui-textfield
            v-model="questionTickets.message"
            :required="true"
            fullwidth
            input-type="textarea" rows="8" cols="40"
        >
          Nachrichtenfeld
        </ui-textfield>
      </div>
      <!-- Meldung -->
      <div class="col-12 align-items-center justify-content-center mt-1" v-if="postMessage">
        <h5 class="font-roboto-black text-shadow m-0">{{ postMessage }}</h5>
      </div>
      <!-- Knöpfe -->
      <div class="col-12 sm:col-12 md:col-12 lg:col-12">
        <ui-button raised :disabled="sendDisables" @click="sendMessage"
                   :class="sendDisables ? 'bg-white opacity-50': ''">
          Senden
        </ui-button>
      </div>
    </div>
  </div>
</template>

<script setup>
import {ref, watch} from "vue";
import axios from "axios";

const questionTickets = ref({
  companyName: '',
  countOfTickets: 1,
  nameOfPoc: '',
  mailOfPoc: '',
  telefonOfPoc: '',
  message: ''
});

const sendDisables = ref(true);

const sendMessage = () => {
  postMessage.value = "";

  axios({
    method: 'post',
    url: '/sendmail.php',
    // url: '/response.json',
    data: {
      companyName: `${questionTickets.value.companyName}`,
      countOfTickets: `${questionTickets.value.countOfTickets}`,
      nameOfPoc: `${questionTickets.value.nameOfPoc}`,
      mailOfPoc: `${questionTickets.value.mailOfPoc}`,
      telefonOfPoc: `${questionTickets.value.telefonOfPoc}`,
      message: `${questionTickets.value.message}`
    }
  }).then(async response => {
    if (await response && await response.data && await response.data.sendMessage) {
      postMessage.value = await response.data.sendMessage;
    }
  }).catch(async response => {
    if (await response && await response.data && await response.data.sendMessage) {
      postMessage.value = await response.data.sendMessage;
    }
  })
}

const checkFields = () => {
  return !(questionTickets.value.companyName
      && questionTickets.value.countOfTickets
      && questionTickets.value.nameOfPoc
      && questionTickets.value.mailOfPoc
      && questionTickets.value.telefonOfPoc
      && questionTickets.value.message);
}

const postMessage = ref("");

watch(questionTickets.value, (newValue, oldValue) => {
  sendDisables.value = checkFields();
}, true);


</script>