<template>
  <div class="grid grid-nogutter min-w-screen sticky top-0" id="main-bar-new">
    <template v-for="route in router.getRoutes()">
      <div :class="route.meta.class" class="m-auto text-center">
        <router-link :to="route.path">
          <ui-button raised class="btn">{{ route.meta.viewName }}</ui-button>
        </router-link>
      </div>
    </template>
  </div>
</template>

<script>
import {defineComponent, onBeforeMount, ref} from "vue";
import {useRouter} from "vue-router";

export default defineComponent({
  setup() {
    // VUE Router
    const router = useRouter();

    return {
      router
    }
  }
});
</script>