<template>

    <div class="align-items-center justify-content-center">
      <!-- Logo -->
      <div class="mt-2">
        <a href="https://www.berg-luft.de" target="_blank">
          <img src="@/assets/images/bergluft-logo.png"
               alt="Logo der Band Bergluft aus München" class="band-logo">
        </a>
      </div>
      <!-- Image Cover -->
      <div>
        <a href="https://www.berg-luft.de" target="_blank">
          <img src="@/assets/images/bergluft-cover.png" alt="Cover Bild der Band Bergluft aus München"
               class="band-cover">
        </a>
      </div>
    </div>
</template>