<template>
  <a href="https://www.google.com/maps/dir/freizeitbad+erdmannsdorf"
     target="_blank">
    <img src="@/assets/images/map.png" alt="Bild einer Karte" class="image-map">
    <p class="font-roboto-medium text-shadow">
      Freizeitbad Erdmannsdorf
      <br>
      <br>
      09573 Augustusburg
      <br>
      Plauer Str. 10
    </p>
  </a>
</template>