<template>
  <a :href="dayHyperlink" target="_blank">
    <!-- Text Bereich -->
    <h1 class="font-roboto-black m-0 text-center text-shadow">{{ dayName }}</h1>
    <h6 class="m-0 text-event-day mb-0 sm:mb-1 md:mb-1 lg:mb-3 xl:mb-3">{{ dayDateTime }}</h6>
    <!-- Image Tickets -->
    <img src="@/assets/images/tickets.png" alt="Tickets" class="mt-1 sm:mt-1 md:mt-1 lg:mt-6 xl:mt-6 image-tickets">
  </a>
</template>

<script setup>
defineProps({
  dayName: {
    type: String,
    required: true
  },
  dayDateTime: {
    type: String,
    required: true
  },
  dayHyperlink: {
    type: String,
    required: true
  }
})
</script>