<template>
  <a href="https://fx-events.de/event/oktoberfest-freitag-2023-im-freibad-erdmannsdorf/" target="_blank">
    <!-- Text Bereich -->
    <h1 class="font-roboto-black m-0 text-center text-shadow">Freitag</h1>
    <h6 class="m-0 text-event-day mb-0 sm:mb-1 md:mb-1 lg:mb-3 xl:mb-3">22.09.2023 17:30</h6>
    <!-- Image Tickets -->
    <img src="@/assets/images/tickets.png" alt="Tickets" class="mt-1 sm:mt-1 md:mt-1 lg:mt-6 xl:mt-6 image-tickets">
  </a>
</template>