<template>
  <!-- Leiste -->
  <main-bar/>

  <!-- Hintergrund Video -->
  <div id="full-background-video">
    <video autoplay muted loop playsinline v-if="!isSafari" poster="./assets/images/background-image.jpg">
      <source src="./assets/background-movie.mp4" type="video/mp4"/>
    </video>
  </div>

  <!-- Bereich für die Darstellung des Inhaltes -->
  <div class="grid relative w-10 m-auto text-center" id="main-content">
    <router-view></router-view>
  </div>
</template>

<script setup>
import {onBeforeMount, ref} from "vue";
import MainBar from "@/components/MainBar.vue";

const isSafari = ref(false)
const checkBrowser = () => {
  isSafari.value = navigator.userAgent.indexOf("Safari") > -1 && navigator.userAgent.indexOf("Chrome") === -1;
};
onBeforeMount(() => {
  checkBrowser();
});
</script>